<div id="modelsBuilder" ng-controller="Umbraco.Dashboard.StaticSiteGenerator as vm">

    <umb-box>
        <umb-box-content>
            <h2 class="bold"><localize key="StaticSiteGeneratorTitle">Default value</localize></h2>

            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-show="!vm.loading" class="static-site-generator">
                <div ng-show="!vm.dashboard.hideTopNodeSettingNeedsToBeFalse" ng-bind-html="vm.dashboard.text"></div>
                <div ng-show="vm.dashboard.hideTopNodeSettingNeedsToBeFalse">
                    <span class="error-message"><localize key="HideTopNodeSettingIsSetToFalseText"></localize></span>
                </div>
                <div ng-show="vm.dashboard.isEnabled && !vm.dashboard.hideTopNodeSettingNeedsToBeFalse">
                    <h3 class="bold"><localize key="Settings"></localize></h3>
                    <localize key="SettingsExplanation"></localize>
                    <ul>
                        <li ng-repeat="(key, value) in vm.dashboard.config">
                            <label for="{{key}}">
                                <localize key="{{key}}"></localize>
                            </label>
                            <div>
                                <input type="text" name="{{key}}" id="{{key}}" value="{{value}}" />
                                <span><localize key="{{key}}Explanation"></localize></span>
                            </div>

                        </li>
                    </ul>
                    <div ng-show="vm.saved">
                        <localize key="DataSaved">Saved the data</localize>
                    </div>
                    <button type="button" ng-click="vm.saveSettings()" class="btn btn-success">
                        <localize key="Save">Save settings</localize>
                    </button>
                </div>
            </div>

        </umb-box-content>
    </umb-box>

</div>
