<div id="modelsBuilder" ng-controller="Umbraco.Dashboard.StaticSiteGenerator as vm">

    <umb-box>
        <umb-box-content>
            <h3 class="bold">Static file generator</h3>

            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-show="!vm.loading">
                <div ng-bind-html="vm.dashboard.text"></div>
                <ul>
                    <li ng-repeat="(key, value) in vm.dashboard.config">
                        <label for="{{key}}">{{key}}</label>
                        <input type="text" name="{{key}}" id="{{key}}" value="{{value}}" />
                    </li>
                </ul>
            </div>
            <div ng-show"vm.saved">
                Saved data
            </div>
            <button type="button" ng-click="vm.generate()" class="btn btn-success">
                <span>Save settings</span>
            </button>
        </umb-box-content>
    </umb-box>

</div>
